---
export interface Props {
	type: 'dev' | 'exploit' | 'misc' | 'release';
	size: 'small' | 'medium' | 'large';
}

const { type, size = 'small' } = Astro.props as Props;
let classList = ['max-w-fit', 'text-lm-background', 'font-bold'];

if (size === 'small') {
	classList.push('px-2', 'py-[1px]', 'text-xs', 'rounded-sm', 'shadow-md');
} else if (size === 'medium') {
	classList.push('text-base');
} else if (size === 'large') {
	classList.push('px-7', 'py-1', 'text-md', 'rounded-md', 'shadow-lg');
}

if (type === 'dev') {
	classList.push('bg-red', 'shadow-red/50');
} else if (type === 'exploit') {
	classList.push('bg-green', 'shadow-green/50');
} else if (type === 'misc') {
	classList.push('bg-blue', 'shadow-blue/50');
} else if (type === 'release') {
	classList.push('bg-yellow', 'shadow-yellow/50');
}
---

<div class={classList.join(' ')}>
	{type}
</div>
