---
import { Icon } from "astro-icon";

const url = Astro.url.pathname;

const isHome = url === '/';
const isPost = url.startsWith('/post');
const isOtherSite = !isHome && !isPost;
let postTitle
let siteTitle
if (isPost) {
	postTitle = url.split('/')[2];
}
if (isOtherSite) {
	siteTitle = url.split('/')[1];
}
---

<div class='text-sm breadcrumbs text-text-faded max-w-6xl mx-auto my-2 sm:my-4 hidden sm:block'>
	<ul>
		{isHome ? (
			<li class='text-lm-body dark:text-dm-body'>
				<a href="/">
					<Icon name="charm:home" class="text-lm-header-text dark:text-dm-header-text w-4 h-4 mr-2 transition-all duration-200" />
					Home
				</a>
			</li>
		) : (
			<li>
				<a href="/">
					<Icon name="charm:home" class="text-text-faded w-4 h-4 mr-2" />
					Home
				</a>
			</li>
			<li class='text-lm-body dark:text-dm-body'>
				{isPost ? (
					<Icon name="ic:outline-article" class="text-lm-header-text dark:text-dm-header-text w-4 h-4 mr-2 transition-all duration-200" />
				) : (
					<Icon name="ic:outline-article" class="text-lm-header-text dark:text-dm-header-text w-4 h-4 mr-2 transition-all duration-200" />
				)}
			{isPost ? postTitle : siteTitle}
			</li>
		)}
	</ul>
</div>
