---
import logoDark from '/assets/logo/logo_dark_full.svg';
import logoLight from '/assets/logo/logo_light_full.svg';
import logoDarkShort from '/assets/logo/logo_short_dark_full.svg';
import logoLightShort from '/assets/logo/logo_short_light_full.svg';
---

<div class="md:pr-6 pr-0 flex-shrink-0">
	<div class="md:hidden block">
		<img src={logoDarkShort} alt="logo" class="h-12 hidden dark:block" />
	</div>
	<div class="md:hidden block">
		<img src={logoLightShort} alt="logo" class="h-12 block dark:hidden" />
	</div>
	<div class="hidden md:block">
		<img src={logoDark} alt="logo" class="h-10 hidden dark:block" />
	</div>
	<div class="hidden md:block">
		<img src={logoLight} alt="logo" class="h-10 block dark:hidden" />
	</div>
</div>
