---
import TableOfContents from './TableOfContents';
import type { Heading } from '../../layouts/BlogPost.astro';

export interface Props {
	headings: Heading[];
}

const { headings } = Astro.props as Props;
---

<nav>
	<TableOfContents client:media="(min-width: 50em)" headings={headings} isMobile={false} />
</nav>
